<div class="container">
  <div class="row text-center" style="margin-top: 10px">
  <button class="btn bg-lightGrey col-lg-5 col-sm-5 col-md-5" style="margin-top: 10px" routerLink="/rdv">
    <h3>Rdv</h3>
    <br>
    <img src="https://icalendrier.fr/media/icones/bleu/simple-blue-calendar-512.png" alt="rdv" width="200px" height="200px">
  </button>
  <div class="col-lg-2 col-sm-2 col-md-2">

  </div>
  <button class="btn bg-lightGrey col-lg-5 col-sm-5 col-md-5"  style="margin-top: 10px" routerLink="/facture">
    <h3>Factures</h3>
    <br>
    <img src="https://cdn-icons-png.flaticon.com/512/1449/1449943.png" alt="Factures" width="200px" height="200px">
  </button>
</div>
</div>
