<div class="row text-center">
  <button class="btn bg-lightGrey col-lg-5" routerLink="/rdv">
    <h3>Rdv</h3>
    <br>
    <img src="https://icalendrier.fr/media/icones/bleu/simple-blue-calendar-512.png" alt="rdv" width="200px" height="200px">
  </button>
  <div class="col-lg-2">

  </div>
  <button class="btn bg-lightGrey col-lg-5"  routerLink="/facture">
    <h3>Factures</h3>
    <br>
    <img src="https://lh3.googleusercontent.com/proxy/eHmMa3Osds4MW1aPXZa_84vTZnBa6JkHzyYBiO4Bfk9obSJ7NbwEs4vqAybKsaHnzpUX5OlPSE0PLFP6S5VtFs6A" alt="Factures" width="200px" height="200px">
  </button>
</div>
