version: '3.1'

services:

  angular-front:
    container_name: jurilog-angular-prod
    build:
      context: ./front
      dockerfile: prod.Dockerfile
    volumes:
      - ./front:/app
      - /app/node_modules
    ports:
      - 80:80

  spring-orm:
    container_name: jurilog-spring-prod
    build:
      context: ./orm
      dockerfile: prod.Dockerfile
    ports:
      - 8989:8989


