<div class="container text-center">

    <div class="card">
        <div class="card-header">
            <h1 style="color: red;">Congratulations !</h1>
        </div>
        <div class="card-body">
            <h1>Thanks to have use my website, i hope about you loved it and Congratulation you have delete all data with the easter egg trashcan</h1>
        </div>
        <div class="card-footer row">
            <button class="btn btn-secondary" (click)="remainDatas()">Want to remain all datas ?</button>
        </div>
    </div>
</div>