<div class="pos-f-t">

  <nav class="navbar navbar-dark bg-dark">
    <div style="margin-right: auto; margin-left: auto; position: relative">
      <a routerLink="home" style="margin-right: 20px"><img src="./assets/daniel_logo.png" width="60%" height="60%"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <div class="collapse bg-dark text-center" id="navbarToggleExternalContent">
    <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <li><a class="nav-link" style="color: red" id="v-pills-home-tab" data-toggle="pill" routerLink="home" role="tab" aria-controls="v-pills-home">Home</a></li>
      <li><a class="nav-link" style="color: red" id="v-pills-profile-tab" data-toggle="pill" routerLink="rdv" role="tab" aria-controls="v-pills-profile">Rdv</a></li>
      <li><a class="nav-link" style="color: red" id="v-pills-messages-tab" data-toggle="pill" routerLink="facture" role="tab" aria-controls="v-pills-messages">Facture</a></li>
      <li class="btn-danger"><a class="nav-link" style="color: black" (click)="Logout()">Logout</a></li>
    </ul>
  </div>

</div>
