<nav class="navbar-expand-lg navbar-light bordered" style="background-color: lightgray;" [hidden]="this.width < 992">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item col-lg-1">
                <a class="navbar-brand" routerLink="home">Juri'Log</a>
            </li>
            <li class="nav-item col-lg-1">
                <a class="nav-link" routerLink="rdv">Rdv</a>
            </li>
            <li class="nav-item col-lg-1">
                <a class="nav-link" routerLink="facture">Factures</a>
            </li>
            <div class="col-lg-8"></div>  

            <button class="btn-danger btn col-lg-1" (click)="Logout()">
                Logout
            </button>
        </ul>
    </div>
</nav>
<nav class="navbar-expand-lg navbar-light text-center bordered" style="background-color: lightgray;" [hidden]="this.width > 992">
    <div>
        <a class="navbar-brand" routerLink="home">Juri'Log</a>
        <button class="btn" (click)="setCollapseNavBarSmall()">    
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div [hidden]="this.collapseNavBarSmall == true">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="rdv">Rdv</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="facture">Factures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-danger" (click)="Logout()">Logout</a>
            </li>
        </ul>
    </div>
  </nav>