<div class="card">
    <div class="card-header">
        <h6>Balance du CLient : {{balance.client.nom}}</h6>
    </div>
    <div class="card-body">
        <p>montant : <span *ngIf="isPositive(balance.montant)">+</span>{{balance.montant}} €</p>
    </div>
    <div class="card-body">
        actions :
        <div class="row">
            <button class="col-lg-3 btn btn-primary" (click)="addMontant(balance.montant, 1)">+1 €</button>
            <div class="col-lg-1"></div>
            <button class="col-lg-3 btn btn-primary" (click)="addMontant(balance.montant, 10)">+10 €</button>
            <div class="col-lg-1"></div>
            <button class="col-lg-4 btn btn-primary" (click)="addMontant(balance.montant, 100)">+100 €</button>
        </div>
    </div>
</div>