/* You can add global styles to this file, and also import other style files */
.bordered {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.bordered-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.bg-lightGrey {
    background-color: rgb(182, 182, 182);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
