/* You can add global styles to this file, and also import other style files */
.bordered {
    border-color: black;
    border-width: thin;
    border-radius: 10px;
    border-style: solid;
}
.bg-lightGrey {
    background-color: rgb(182, 182, 182);
}