<div class="container">
  <div style="margin-top: 10px" class="card" [hidden]="isCreate">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-5">
        client :
        <br>
        nom : {{facture.clientNom}}
        <br>
        prenom : {{facture.clientPrenom}}
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-5">
        avocat :
        <br>
        nom : {{facture.avocatNom}}
        <br>
        prenom : {{facture.avocatPrenom}}
      </div>
    </div>
    <div class="row">
      <p>facture du rendez-vous datant du : {{dateRdv | date:'fullDate'}} à {{facture.heureRdv}} heure</p>
    </div>
  </div>
  <div class="body">
    <p style="margin-left: 10px; margin-top: 10px">Nombre d'heure passée pendant le rendez-vous : {{facture.nbHeureRdv}} heure(s)</p>
    <br>
    <div class="col-12 row">
      <div class="col-lg-8">
        <p style="margin-left: 10px">Montant honoraire TTC : {{facture.tauxHonoraire}} € / heure</p>
      </div>
      <div class="col-lg-4 bg-lightGrey">
        <p>Montant total a payer : {{facture.totalFacture}} €</p>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-secondary col-12">imprimer</button>
  </div>
</div>

<div [hidden]="!isCreate">
  <h4 class="text-center">Créer une facture</h4>
  <form class="card" [formGroup]="createFacture" style="padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px">
    <!--<label class="form-label">nombre d'heure de rendez-vous :</label>
    <input type="number" class="form-control" placeholder="merci de renseigner le nombre d'heure" formControlName="nb_heure">
    <br>-->
    <label class="form-label">taux honoraire du rendez-vous :</label>
    <input type="number" class="form-control" placeholder="merci de renseigner le taux honoraire" formControlName="taux_honoraire">
    <br>
    <button class="btn btn-primary" (click)="editFacture()">créer la facture</button>
  </form>
</div>
</div>
